html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#root{

  background: linear-gradient(
    to bottom,
    #f8d8a8 0%,
    #ff7d6e 30%,
    #a03d3d 70%,
    #590c0c 100%
  );
  min-height: 100%;
  background-attachment: fixed; 
  }
  
  body{
    margin: auto;
  }
  





