 @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.LandingTitle {
  font-family: "Bebas Neue";
  font-size: 200px;
  text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out forwards;
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background: linear-gradient(
    to bottom,
    #f8d8a8 0%,
    #ff7d6e 30%,
    #a03d3d 70%,
    #590c0c 100%
  ); */
}

.titleWrapper{
  display:flex;

}

.Logo{
  opacity: 20%;
  height:500px;
  position: absolute;
  transform: translate(0%, 0%);

}

.landingContainer p {
  font-size: 18px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  
}

.signupButton,
.loginButton {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}

.signupButton {
  background-color: #ffd700;
  color: #555555;
  margin-right: 16px;
  text-decoration: none;
}

.signupButton:hover {
  background-color: #e6c823;
  text-decoration: underline;
}

.loginButton {
  background-color: #ffffff;
  color: #555555;
  text-decoration: none;
  margin-right: 16px;
  font-family: 'Montserrat', sans-serif;
}

.loginButton:hover {
  text-decoration: underline;
  background-color: #ffffffda;
}

@media screen and (max-width: 767px){

  .LandingTitle {
    font-family: "Bebas Neue";
    font-size: 150px;
  }

  .Logo{
   
    height:400px;
  }

.signupButton,
.loginButton {

  z-index: 10;
}


}